* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    background-color: #0f0f0f;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

/*------------------------------header-------------------------------*/

.header {
    display: flex;
    align-items: center;
    margin-bottom: 31px;

    width: 100%;
    height: 48px;

    background: #1d1d1d;
}

.container-logo {
    width: 1152px;
    margin: 0 auto;
}

/*------------------------------logo-------------------------------*/


/*------------------------------container-------------------------------*/

.container {
    flex: 1;
    height: 100vh;
    max-width: 1152px;
    margin: 0 auto;
}

/*------------------------------section-------------------------------*/


.section {
    height: fit-content;
    width: 1152px;
    margin: 0 auto;
}

/*------------------------------section-title-------------------------------*/

.section-title{
    margin-bottom: 29px;

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

/*------------------------------playlist-------------------------------*/


.playlist {
    margin-bottom: 24px;
    
    padding: 24px;
   
    background-color: #1D1D1D;

}

/*------------------------------playlist-title-------------------------------*/

.playlist-title {
    display: inline-block;

    margin-bottom: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

/*------------------------------slider-------------------------------*/

.slider {
    display: flex;

    width: 100%;

    overflow-x: auto;
    overflow-x: hidden;
    
}

/*------------------------------slide-------------------------------*/

.slide {
    margin-right: 24px;
}

/*------------------------------slide-video-------------------------------*/

.slide-video {
    width: 352px;
    height: 252px;

    margin-bottom: 6px;
}

/*------------------------------description-link-------------------------------*/


.description-link {
    display: inline-block;

    margin-bottom: 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

/*------------------------------link-channel-------------------------------*/


.link-channel {
    display: inline-block;

    margin-bottom: 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    color: #969696;
}

/*------------------------------video-published-------------------------------*/


.video-published {
    display: block;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #969696;
}

/*------------------------------footer-------------------------------*/


.footer {
    width: 100%;
    height: 50px;

    background-color: #0f0f0f;
}







    
